
.headerLabel {
  text-decoration: none;
  color: black;
}

.itemLink a  {
  text-decoration: none;
  font-weight: bold;
  color: #444444;
}


.dialogtable {
  overflow: auto;
  padding: 0;
  width: 100%;
}

.dialog table {
  width: 95%;
}


html ::placeholder {
   color: black;
}

button.trashButton {
       padding: 3px;
       border-radius: 8px;
}

button.addButton {
       padding: 3px;
       border-radius: 8px;
}

button.projectButton {
       padding: 3px 10px 3px 10px;
       border-radius: 8px;
}



.itemsTable {
   width: 100%;
}

.itemsTable tr th:first-child {
   width: 60%;
}

.dialogtable table tr th:first-child {
   width: 90%;
}

.netsTable tr th:first-child {
   width: 40%;
}

.vmsTable tr th:first-child {
   width: 20%;
}

.ordersTable tr th:first-child {
   width: 40%;
}

.mainbox .addButton {
   border-radius: 10px;
   width: 180px;
} 

.plandialog .addButton {
   border-radius: 10px;
   width: 100px;
   margin-right: 20px;
} 


.orderdialog input {
  color: white;
  background: black;
}

.orderdialog .selectorWrapper button {
  color: white;
  background: black;
}


.orderdialog .selectorGroupWrapper {
  color: white;
  background: #7d4cdb;
  width: 300px;
  height: 40px;
}

.orderdialog .selectorGroupWrapper div {
  border: 0;
}

.orderdialog .selectorGroupWrapper input {
  color: white;
  background: #7d4cdb;
  width: 300px;
}

.orderdialog .selectorGroupWrapper input {
  color: white;
  background: #7d4cdb;
  width: 300px;
}


.dialog input {
  color: white;
  background: black;
}

.dialog input[type=checkbox] {
  height: 40px;
}

.dialog input[name=vmname] {
  color: white;
  background: black;
}

.dialog input[name=cpu] {
  color: white;
  background: black;
  width: 100px;
}

.dialog input[name=ram] {
  color: white;
  background: black;
  width: 100px;
}

.dialog .selectorWrapper {
  color: white;
  background: black;
  width: 300px;
  height: 50px;
}

.dialog .selectorWrapper button {
  color: white;
  background: black;
}


.dialog .selectorGroupWrapper {
  color: white;
  background: #7d4cdb;
  width: 300px;
  height: 40px;
}

.dialog .selectorGroupWrapper div {
  border: 0;
}

.dialog .selectorGroupWrapper input {
  color: white;
  background: #7d4cdb;
  width: 300px;
}

.dialog .netSelector {
  color: white;
  background: black;
  width: 259px;
}

.dialog .addButton {
  width: 100px;
  height: 40px;
  display: inline-block;
}

.dialog .adddsButton {
  width: 200px;
  height: 40px;
  display: inline-block;
}

.mainbox {
  float: left;
  width: 70%;
}
.toolbox {
  float: right;
  height: 320px;
}

.toolsmenu {
  padding: 0px;
}

.plandialog {
  font-family: monospace;
  font-size: 10pt;
  background: #111111;
  color: white;
  overflow: auto;
  line-height: 16px;
  width: 1000px;
}


.dialogleft {
  width: 400px;
  display: inline-block;
  vertical-align: top;
}
.dialogright {
  width: 400px;
}

.orderdialog {
  width: 1000px;
  height: 700px;
  overflow: none;
}

.orderdialog table td {
  vertical-align: top;
}
